Arduino/AWS Shadow/AWS-Shadow-Node-Red
[{"id":"74800207.fa644c","type":"aws-iot-in","z":"c606751c.094f98","name":"","topic":"topic_1","broker":"ec2c62b7.6b54a","x":110,"y":400,"wires":[["32fb9115.be91de","511428ce.14c288"]]},{"id":"32fb9115.be91de","type":"debug","z":"c606751c.094f98","name":"","active":true,"console":"false","complete":"false","x":367.5,"y":402,"wires":[]},{"id":"511428ce.14c288","type":"mqtt out","z":"c606751c.094f98","name":"","topic":"/device/Status","qos":"","retain":"","broker":"e472176f.f86318","x":378,"y":472,"wires":[]},{"id":"3a041ba6.e591d4","type":"http in","z":"c606751c.094f98","name":"","url":"/setLed","method":"post","upload":false,"swaggerDoc":"","x":110,"y":640,"wires":[["f77a64db.5594b8","bd73a916.8bf178","46943647.6d1898"]]},{"id":"f77a64db.5594b8","type":"debug","z":"c606751c.094f98","name":"","active":true,"console":"false","complete":"false","x":510,"y":580,"wires":[]},{"id":"fa645254.fb5fa","type":"mqtt out","z":"c606751c.094f98","name":"","topic":"/device/Status","qos":"","retain":"","broker":"e472176f.f86318","x":520,"y":820,"wires":[]},{"id":"d6b356e3.5d7938","type":"function","z":"c606751c.094f98","name":"","func":"\nvar data = JSON.parse(msg.payload);\nmsg.payload = data.action;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":740,"wires":[["fa645254.fb5fa","1d16f13a.b5078f"]]},{"id":"1d16f13a.b5078f","type":"debug","z":"c606751c.094f98","name":"","active":true,"console":"false","complete":"false","x":510,"y":660,"wires":[]},{"id":"bd73a916.8bf178","type":"http response","z":"c606751c.094f98","name":"","statusCode":"","headers":{},"x":250,"y":560,"wires":[]},{"id":"46943647.6d1898","type":"json","z":"c606751c.094f98","name":"","pretty":true,"x":223.5,"y":733,"wires":[["d6b356e3.5d7938"]]},{"id":"b9d69069.58673","type":"aws-iot-in","z":"c606751c.094f98","name":"","topic":"$aws/things/sensingData/shadow/update","broker":"ec2c62b7.6b54a","x":220,"y":100,"wires":[["dd672a39.b650e8","167fc8dc.3cd017"]]},{"id":"167fc8dc.3cd017","type":"debug","z":"c606751c.094f98","name":"","active":true,"console":"false","complete":"false","x":510,"y":40,"wires":[]},{"id":"dd672a39.b650e8","type":"json","z":"c606751c.094f98","name":"","pretty":false,"x":483.5,"y":145,"wires":[["1eed5db.c8a85a2"]]},{"id":"67d144be.d46aec","type":"debug","z":"c606751c.094f98","name":"","active":true,"console":"false","complete":"false","x":790,"y":80,"wires":[]},{"id":"1eed5db.c8a85a2","type":"function","z":"c606751c.094f98","name":"","func":"var data = msg.payload;\n//var data = JSON.parse(msg.payload);\nmsg.payload = data.state.desired.led;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["6941922d.f8a7fc","67d144be.d46aec"]]},{"id":"6941922d.f8a7fc","type":"mqtt out","z":"c606751c.094f98","name":"","topic":"/device/Status","qos":"","retain":"","broker":"e472176f.f86318","x":797.5,"y":229,"wires":[]},{"id":"8554c37c.7b30e","type":"mqtt in","z":"c606751c.094f98","name":"","topic":"/led/Status","qos":"2","broker":"e472176f.f86318","x":120,"y":260,"wires":[["f01d926f.db82b","551362eb.689a2c"]]},{"id":"551362eb.689a2c","type":"debug","z":"c606751c.094f98","name":"","active":true,"console":"false","complete":"false","x":350,"y":200,"wires":[]},{"id":"f01d926f.db82b","type":"function","z":"c606751c.094f98","name":"","func":"msg.payload = \"{\\\"state\\\":{\\\"reported\\\":{\\\"led\\\":\" + msg.payload + \"}}}\"\nreturn msg;","outputs":1,"noerr":0,"x":326.5,"y":276,"wires":[["b39e9343.0b0b8","a7a06542.a37a18"]]},{"id":"b39e9343.0b0b8","type":"debug","z":"c606751c.094f98","name":"","active":true,"console":"false","complete":"false","x":503.5,"y":249,"wires":[]},{"id":"a7a06542.a37a18","type":"aws-iot-out","z":"c606751c.094f98","name":"","topic":"$aws/things/sensingData/shadow/update","qos":"","broker":"ec2c62b7.6b54a","x":593.5,"y":322,"wires":[]},{"id":"ec2c62b7.6b54a","type":"aws-iot-broker","z":"","broker":"a3iprlpgye4dmu.iot.us-east-1.amazonaws.com","port":"8883","clientid":"sensingData","keepalive":"60","willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":"","keypath":"/home/pi/.awscerts/sensingData.private.key","certpath":"/home/pi/.awscerts/sensingData.cert.pem","capath":"/home/pi/.awscerts/root-CA.crt"},{"id":"e472176f.f86318","type":"mqtt-broker","z":"","broker":"192.168.1.33","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]